<p align="center">User Testing Part!!</p>

    <div>
        <button (click)="callingInteger()" (click)="callingString()" (click)="callingArray()">Calling Integer Value</button> <br> <br>
    <label>First Result: </label>
    <input type="text" value="{{value}}"><br> <br>
    <!-- <button (click)="callingString()">Calling Text Value</button> <br> <br> -->
    <label>Second Result: </label>
    <input type="text" value="{{value1}}"><br> <br>
    <!-- <button (click)="callingArray()">Calling Array Value</button> <br> <br> -->
    <label>Third Result: </label>
    <input type="text" value="{{value2}}"><br> <br>


    </div>  

